body {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 20px;
}

.input {
  display: inline-block;
  padding: 8px;
  font-family: inherit;
  border-radius: 10px;
  outline: none;
  width: 100%;
  height: 100%;
}

.input-wrapper {
  display: block;
  margin-top: 30px;
  margin-left: 30px;
  max-width: 500px;
  height: 50px;
}

.country-card {
  padding: 15px 20px;
  display: block;
  max-width: 900px;
}

.country-description {
  display: flex;
}

.country-info {
  display: block;
}

.country-name {
  font-size: 35px;
  text-align: center;
}

.country-flag {
  margin-left: auto;
  max-width: 500px;
}

.country-flag img {
  width: 100%;
}

.description {
  font-weight: bold;
  font-size: 25px;
}